/* SASS */
* {
  margin: 0;
  padding: 0;
}

h3 {
  padding: 10px;
  color: white;
  text-align: center;
}

main {
  background-color: black;
}

main section .paddingBottom .flexCentrar, main section .flexCentrar .paddingBottom .flexCentrar, main section .gridContainerProductos .flexCentrar, main section .flexCentrar, footer .gridContainer div .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main section .flexCentrar .paddingBottom .flexCentrar .parrafo, main section .flexCentrar .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .paddingBottom .flexCentrar .parrafo, main section .flexCentrar .flexCentrar .parrafo {
    font-size: 16px;
  }
}

main section .titulo, main .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 450px) {
  main section .titulo, main .titulo {
    font-size: 30px;
  }
}

header .fondoStoica {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
header nav div a .logoStoica {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
header nav div div div .linkMenu {
  font-size: 20px;
}

main section .paddingBottom .flexCentrar, main section .flexCentrar .paddingBottom .flexCentrar, main section .gridContainerProductos .flexCentrar, main section .flexCentrar, footer .gridContainer div .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main section .flexCentrar .paddingBottom .flexCentrar .parrafo, main section .flexCentrar .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .paddingBottom .flexCentrar .parrafo, main section .flexCentrar .flexCentrar .parrafo {
    font-size: 16px;
  }
}

main section .titulo, main .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 450px) {
  main section .titulo, main .titulo {
    font-size: 30px;
  }
}

footer {
  border-top: solid white 1px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(to bottom, black, rgb(1, 1, 49));
}
footer .gridContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(2, auto);
}
@media only screen and (max-width: 450px) {
  footer .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    overflow: wrap;
  }
}
footer .gridContainer div .flexCentrar ul {
  list-style: none;
  color: white;
  padding: 0;
}
footer .gridContainer div .flexCentrar ul li {
  padding: 4px;
  font-size: 16px;
}
footer .gridContainer div .flexCentrar ul li .iconosLista {
  width: 16px;
  height: 16px;
}
@media only screen and (max-width: 450px) {
  footer .gridContainer div .flexCentrar nav ul .inlineMobile {
    list-style: none;
    display: inline;
  }
}
@media only screen and (max-width: 450px) {
  footer .gridContainer div .flexCentrar nav ul .inlineMobile a {
    text-decoration: none;
  }
}
footer .gridContainer div .flexCentrar nav ul .inlineMobile a .iconoRedes {
  width: 30px;
  height: 30px;
}

main section .paddingBottom .flexCentrar, main section .flexCentrar .paddingBottom .flexCentrar, main section .gridContainerProductos .flexCentrar, main section .flexCentrar, footer .gridContainer div .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main section .flexCentrar .paddingBottom .flexCentrar .parrafo, main section .flexCentrar .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .paddingBottom .flexCentrar .parrafo, main section .flexCentrar .flexCentrar .parrafo {
    font-size: 16px;
  }
}

main section .titulo, main .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 450px) {
  main section .titulo, main .titulo {
    font-size: 30px;
  }
}

main .subtituloIndex {
  color: rgb(202, 150, 6);
  animation: flash 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  text-align: center;
  padding: 20px;
}
main section .flexCentrar .mitad {
  width: 50%;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .mitad {
    width: 100%;
  }
}
main section .flexCentrar .alignCenter {
  align-items: center;
}
main section .flexCentrar .flexCentrar .ajustarImg {
  background-color: white;
  width: 80%;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
main section .flexCentrar .mitad {
  width: 50%;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .mitad {
    width: 100%;
  }
}
main section .paddingBottom {
  padding-bottom: 50px;
}
@media only screen and (max-width: 450px) {
  main section .paddingBottom .paddingBottomMobile {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 450px) {
  main section .flexColumn {
    flex-direction: column;
  }
}

main section .paddingBottom .flexCentrar, main section .flexCentrar .paddingBottom .flexCentrar, main section .gridContainerProductos .flexCentrar, footer .gridContainer div .flexCentrar, main section .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main section .flexCentrar .paddingBottom .flexCentrar .parrafo, main section .flexCentrar .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .paddingBottom .flexCentrar .parrafo, main section .flexCentrar .flexCentrar .parrafo {
    font-size: 16px;
  }
}

main section .titulo, main .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 450px) {
  main section .titulo, main .titulo {
    font-size: 30px;
  }
}

main section .flexCentrar .mitad {
  width: 50%;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .mitad {
    width: 100%;
  }
}
main section .flexCentrar .mitad .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .mitad .flexCentrar .parrafo {
    font-size: 16px;
  }
}
main section .flexCentrar .mitad {
  width: 50%;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .mitad {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .mitad ajustarAncho {
    width: 90%;
  }
}
main section .flexCentrar .flex {
  display: flex;
  justify-content: center;
}
main section .flexCentrar .alignCenter {
  align-items: center;
}
@media only screen and (max-width: 450px) {
  main section .flexColumn {
    flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
}

h3 {
  padding: 10px;
  color: white;
  text-align: center;
}

main {
  background-color: black;
}

main section .paddingBottom .flexCentrar, main section .flexCentrar .paddingBottom .flexCentrar, main section .gridContainerProductos .flexCentrar, footer .gridContainer div .flexCentrar, main section .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main section .flexCentrar .paddingBottom .flexCentrar .parrafo, main section .flexCentrar .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .paddingBottom .flexCentrar .parrafo, main section .flexCentrar .flexCentrar .parrafo {
    font-size: 16px;
  }
}

main section .titulo, main .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 450px) {
  main section .titulo, main .titulo {
    font-size: 30px;
  }
}

main section .gridContainerProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow: wrap;
  padding: 20px;
}
@media only screen and (max-width: 450px) {
  main section .gridContainerProductos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: wrap;
  }
}
main section .gridContainerProductos .flexCentrar .ajustarImg {
  background-color: white;
  width: 80%;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
main section .gridContainerProductos .paddingBottom {
  padding-bottom: 50px;
}
main section .gridContainerProductos .paddingBottom .flexCentrar .descProducto {
  color: gainsboro;
  font-size: 15px;
  width: 80%;
  text-align: justify;
}

main section .paddingBottom .flexCentrar, main section .flexCentrar .paddingBottom .flexCentrar, footer .gridContainer div .flexCentrar, main section .flexCentrar, main section .gridContainerProductos .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main section .flexCentrar .paddingBottom .flexCentrar .parrafo, main section .flexCentrar .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .paddingBottom .flexCentrar .parrafo, main section .flexCentrar .flexCentrar .parrafo {
    font-size: 16px;
  }
}

main section .titulo, main .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 450px) {
  main section .titulo, main .titulo {
    font-size: 30px;
  }
}

main section .flexCentrar .mitad {
  width: 50%;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .mitad {
    width: 100%;
  }
}
main section .flexCentrar .paddingBottom {
  padding-bottom: 50px;
}
main section .flexCentrar .flex {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 450px) {
  main section .flexCentrar .flex .ajustarAncho {
    width: 90%;
  }
}
main section .alignCenter {
  align-items: center;
}
@media only screen and (max-width: 450px) {
  main section {
    flex-direction: column;
  }
}

footer .gridContainer div .flexCentrar, main section .flexCentrar, main section .gridContainerProductos .flexCentrar, main section .flexCentrar .paddingBottom .flexCentrar, main section .paddingBottom .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main section .flexCentrar .flexCentrar .parrafo, main section .flexCentrar .paddingBottom .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}

@media only screen and (max-width: 450px) {
  main section .flexCentrar .flexCentrar .parrafo, main section .flexCentrar .paddingBottom .flexCentrar .parrafo {
    font-size: 16px;
  }
}
main .titulo, main section .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}

@media only screen and (max-width: 450px) {
  main .titulo, main section .titulo {
    font-size: 30px;
  }
}
main section .gridContainerContacto {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
}
main section .paddingBottom .flexCentrar .ajustarImgContacto {
  width: 90%;
  object-fit: cover;
}
@media only screen and (max-width: 450px) {
  main section .paddingBottom .flexCentrar .noMostrar {
    display: none;
  }
}
main section .paddingBottom .flexCentrar .etiqueta {
  color: gainsboro;
}
main section .paddingBottom .flexCentrar .ajustarImgContacto {
  width: 90%;
  object-fit: cover;
}
@media only screen and (max-width: 450px) {
  main section .paddingBottom .flexCentrar .noMostrar {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
