/* SASS */
* {
  margin: 0;
  padding: 0;
}

h3 {
  padding: 10px;
  color: white;
  text-align: center;
}

main {
  background-color: black;
}

main section .flexCentrar, main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar, main .seccionUbicacion .flexCentrar, main .seccionProductos .gridContainerProductos .flexCentrar, main .seccionNosotros .flexCentrar, main .seccionIndex .flexCentrar, footer .gridContainer div .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo, main .seccionIndex .flexCentrar .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo, main .seccionIndex .flexCentrar .flexCentrar .parrafo {
    font-size: 16px;
  }
}

main section .titulo, main .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  main section .titulo, main .titulo {
    font-size: 30px;
  }
}

header .fondoStoica {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
header nav div a .logoStoica {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
header nav div a .logoStoica:hover {
  scale: 1.1;
}
header nav div div div .linkMenu {
  font-size: 20px;
}

main section .flexCentrar, main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar, main .seccionUbicacion .flexCentrar, main .seccionProductos .gridContainerProductos .flexCentrar, main .seccionNosotros .flexCentrar, main .seccionIndex .flexCentrar, footer .gridContainer div .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo, main .seccionIndex .flexCentrar .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo, main .seccionIndex .flexCentrar .flexCentrar .parrafo {
    font-size: 16px;
  }
}

main section .titulo, main .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  main section .titulo, main .titulo {
    font-size: 30px;
  }
}

footer {
  border-top: solid white 1px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(to bottom, black, rgb(1, 1, 49));
}
footer .gridContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(2, auto);
}
@media only screen and (max-width: 600px) {
  footer .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    overflow: wrap;
  }
}
footer .gridContainer div .flexCentrar ul {
  list-style: none;
  color: white;
  padding: 0;
}
footer .gridContainer div .flexCentrar ul li {
  padding: 4px;
  font-size: 16px;
}
footer .gridContainer div .flexCentrar ul li .iconosLista {
  width: 16px;
  height: 16px;
}
@media only screen and (max-width: 600px) {
  footer .gridContainer div .flexCentrar nav ul .inlineMobile {
    list-style: none;
    display: inline;
  }
}
@media only screen and (max-width: 600px) {
  footer .gridContainer div .flexCentrar nav ul .inlineMobile a {
    text-decoration: none;
  }
}
footer .gridContainer div .flexCentrar nav ul .inlineMobile a .iconoRedes {
  width: 30px;
  height: 30px;
}
footer .gridContainer div .flexCentrar nav ul .inlineMobile a .iconoRedes:hover {
  background-color: white;
  padding: 2px;
  border-radius: 15px;
}

main section .flexCentrar, main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar, main .seccionUbicacion .flexCentrar, main .seccionProductos .gridContainerProductos .flexCentrar, main .seccionNosotros .flexCentrar, main .seccionIndex .flexCentrar, footer .gridContainer div .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo, main .seccionIndex .flexCentrar .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo, main .seccionIndex .flexCentrar .flexCentrar .parrafo {
    font-size: 16px;
  }
}

main section .titulo, main .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  main section .titulo, main .titulo {
    font-size: 30px;
  }
}

main .subtituloIndex {
  color: rgb(202, 150, 6);
  animation: flash 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  text-align: center;
  padding: 20px;
}
main .seccionIndex .flexCentrar .mitad {
  width: 50%;
}
@media only screen and (max-width: 600px) {
  main .seccionIndex .flexCentrar .mitad {
    width: 100%;
  }
}
main .seccionIndex .flexCentrar .alignCenter {
  align-items: center;
}
main .seccionIndex .flexCentrar .flexCentrar .ajustarImg {
  background-color: white;
  width: 80%;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
main .seccionIndex .flexCentrar .mitad {
  width: 50%;
}
@media only screen and (max-width: 600px) {
  main .seccionIndex .flexCentrar .mitad {
    width: 100%;
  }
}
main .seccionIndex .paddingBottom {
  padding-bottom: 50px;
}
@media only screen and (max-width: 600px) {
  main .seccionIndex .paddingBottom .paddingBottomMobile {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  main .seccionIndex .flexColumn {
    flex-direction: column;
  }
}

main section .flexCentrar, main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar, main .seccionUbicacion .flexCentrar, main .seccionProductos .gridContainerProductos .flexCentrar, main .seccionNosotros .flexCentrar, footer .gridContainer div .flexCentrar, main .seccionIndex .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo, main .seccionIndex .flexCentrar .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo, main .seccionIndex .flexCentrar .flexCentrar .parrafo {
    font-size: 16px;
  }
}

main section .titulo, main .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  main section .titulo, main .titulo {
    font-size: 30px;
  }
}

main .seccionNosotros .flexCentrar .mitad {
  width: 50%;
}
@media only screen and (max-width: 1076px) {
  main .seccionNosotros .flexCentrar .mitad {
    width: 100%;
  }
}
main .seccionNosotros .flexCentrar .mitad {
  width: 50%;
}
@media only screen and (max-width: 1076px) {
  main .seccionNosotros .flexCentrar .mitad {
    width: 100%;
  }
}
main .seccionNosotros .flexCentrar .mitad .ajustarAncho {
  width: 90%;
}
main .seccionNosotros .flexCentrar .flex {
  display: flex;
  justify-content: center;
}
main .seccionNosotros .flexCentrar .alignCenter {
  align-items: center;
}
main .seccionNosotros .flexCentrar .paddingBottom {
  padding-bottom: 30px;
}
@media only screen and (max-width: 1076px) {
  main .seccionNosotros .flexColumn {
    flex-direction: column;
  }
}

main section .flexCentrar, main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar, main .seccionUbicacion .flexCentrar, main .seccionProductos .gridContainerProductos .flexCentrar, footer .gridContainer div .flexCentrar, main .seccionIndex .flexCentrar, main .seccionNosotros .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo, main .seccionIndex .flexCentrar .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo, main .seccionIndex .flexCentrar .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo {
    font-size: 16px;
  }
}

main section .titulo, main .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  main section .titulo, main .titulo {
    font-size: 30px;
  }
}

main .seccionProductos .gridContainerProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow: wrap;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  main .seccionProductos .gridContainerProductos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: wrap;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1076px) {
  main .seccionProductos .gridContainerProductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    overflow: wrap;
  }
}
main .seccionProductos .gridContainerProductos .flexCentrar .ajustarImg {
  background-color: white;
  width: 80%;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
main .seccionProductos .gridContainerProductos .paddingBottom {
  padding-bottom: 50px;
}
main .seccionProductos .gridContainerProductos .paddingBottom .flexCentrar .descProducto {
  color: gainsboro;
  font-size: 16px;
  width: 80%;
  text-align: justify;
}
@media only screen and (min-width: 601px) and (max-width: 1076px) {
  main .seccionProductos .gridContainerProductos .paddingBottom .flexCentrar .descProducto {
    font-size: 17px;
  }
}
@media only screen and (max-width: 600px) {
  main .seccionProductos .gridContainerProductos .paddingBottom .flexCentrar .descProducto {
    font-size: 18px;
  }
}

main section .flexCentrar, main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar, main .seccionUbicacion .flexCentrar, footer .gridContainer div .flexCentrar, main .seccionIndex .flexCentrar, main .seccionNosotros .flexCentrar, main .seccionProductos .gridContainerProductos .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo, main .seccionIndex .flexCentrar .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo, main .seccionIndex .flexCentrar .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo {
    font-size: 16px;
  }
}

main section .titulo, main .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  main section .titulo, main .titulo {
    font-size: 30px;
  }
}

main .seccionUbicacion .flexCentrar .mitad {
  width: 50%;
}
@media only screen and (max-width: 1076px) {
  main .seccionUbicacion .flexCentrar .mitad {
    width: 100%;
  }
}
main .seccionUbicacion .flexCentrar .paddingBottom {
  padding-bottom: 50px;
}
main .seccionUbicacion .flexCentrar .flex {
  display: flex;
  justify-content: center;
}
main .seccionUbicacion .flexCentrar .flex .ajustarAncho {
  width: 90%;
}
main .seccionUbicacion .alignCenter {
  align-items: center;
}
@media only screen and (max-width: 1076px) {
  main .seccionUbicacion .flexColumn {
    flex-direction: column;
  }
}

footer .gridContainer div .flexCentrar, main .seccionIndex .flexCentrar, main .seccionNosotros .flexCentrar, main .seccionProductos .gridContainerProductos .flexCentrar, main .seccionUbicacion .flexCentrar, main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar, main section .flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

main .seccionIndex .flexCentrar .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo, main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  main .seccionIndex .flexCentrar .flexCentrar .parrafo, main .seccionNosotros .flexCentrar .mitad .flexCentrar .parrafo, main .seccionUbicacion .flexCentrar .paddingBottom .flexCentrar .parrafo {
    font-size: 16px;
  }
}
main .titulo, main section .titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  main .titulo, main section .titulo {
    font-size: 30px;
  }
}
main section .flexCentrar .divFormulario {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
main section .flexCentrar .divFormulario .formulario {
  width: 100%;
}
main section .flexCentrar .divFormulario .etiqueta {
  color: gainsboro;
  font-size: 18px;
  padding: 5px;
}
main section .flexCentrar .divFormulario .entradaFormulario {
  width: 100%;
  padding: 5px;
}
main section .flexCentrar .divFormulario .escribirConsulta {
  width: 100%;
  resize: none;
  padding: 10px;
}
main section .flexCentrar .divFormulario .boton {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  color: rgb(3, 3, 71);
  border-radius: 15px;
  margin: 20px;
  padding: 6px;
}
main section .flexCentrar .divFormulario .boton:hover {
  scale: 1.1;
  color: rgb(202, 150, 6);
  border: 1px solid white;
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
