/*Reseteo CSS*/
* {
  margin: 0;
  padding: 0;
}
.fondoStoica {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.logoStoica {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.linkMenu {
  font-size: 20px;
}

/*Aplico CSS al Footer*/

footer ul {
  list-style: none;
  color: white;
  padding: 0;
}

footer {
  border-top: solid white 1px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(to bottom, black, rgb(1, 1, 49));
}

h3 {
  padding: 10px;
  color: white;
  text-align: center;
}

.iconoRedes {
  width: 30px;
  height: 30px;
}

footer li {
  padding: 4px;
  font-size: 16px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(2, auto);
}

.iconosLista {
  width: 16px;
  height: 16px;
}

main {
  background-color: black;
}

.titulo {
  color: white;
  font-size: 40px;
  animation: jackInTheBox 0.8s;
  animation-delay: 0.1s;
  text-align: center;
  padding: 20px;
}

.subtituloIndex {
  color: rgb(202, 150, 6);
  animation: flash 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  text-align: center;
  padding: 20px;
}

.mitad {
  width: 50%;
}

.flex{
  display: flex;
  justify-content: center;
}
.parrafo {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
.flexCentrar {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: wrap;
}

.ajustarImg {
  background-color: white;
  width: 80%;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.alignCenter {
  align-items: center;
}

.paddingBottom {
  padding-bottom: 50px;
}

.gridContainerProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow: wrap;
  padding: 20px;
}

.descProducto {
  color: gainsboro;
  font-size: 15px;
  width: 80%;
  text-align: justify;
}

.gridContainerContacto {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
}

.ajustarImgContacto {
  width: 90%;
  object-fit: cover;
}

.etiqueta {
  color: gainsboro;
}

.boton:hover {
  background-color: rgb(192, 107, 10);
  border-radius: 4px;
  font-weight: 500;
  transform: scale(1.1);
  transition: 1.1s;
}

.boton {
  background-color: gray;
  border-radius: 4px;
  transition: 1.1s;
}

@media only screen and (max-width: 450px)
{
  .gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    overflow: wrap;
  }

  .mitad{
    width: 100%;
  }

  .flexColumn{
    flex-direction: column;
  }
  .paddingBottomMobile{
    padding-bottom: 20px;
  }

  .titulo{
    font-size: 30px;
   } 

   .subtituloIndex{
    font-size: 18px;
   }

   .inlineMobile{
    list-style: none;
    display: inline;
   }

   footer a{
   text-decoration: none;
  }

  h3{
    font-size: 18px;
  }

  .parrafo{
    font-size: 16px;
  }
.ajustarAncho{
  width: 90%;
}
}
