@import "../base/extend";
@import "../base/variables";

footer {
  border-top: solid white 1px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: $gradientFooter;
  .gridContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(2, auto);
    @media only screen and (max-width: 450px) {
      display: grid;
      grid-template-columns: 1fr;
      overflow: wrap;
    }
    div {
      .flexCentrar {
        @extend %flexCentrar;
        ul {
          list-style: none;
          color: white;
          padding: 0;
          li {
            padding: 4px;
            font-size: 16px;
            .iconosLista {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
    div {
      .flexCentrar {
        nav {
          ul {
            .inlineMobile {
              @media only screen and (max-width: 450px) {
                list-style: none;
                display: inline;
              }
              a {
                @media only screen and (max-width: 450px) {
                  text-decoration: none;
                }
                .iconoRedes {
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}
