@import "../base/extend";

main {
  .titulo {
    @extend %titulo;
  }
  .seccionNosotros {
    .flexCentrar {
      @extend %flexCentrar;
      .mitad {
        width: 50%;
        @media only screen and (max-width: 1076px) {
          width: 100%;
        }
        .flexCentrar {
          .parrafo {
            color: white;
            font-size: 20px;
            width: 80%;
            text-align: justify;
            @media only screen and (max-width: 1076px) {
              font-size: 16px;
            }
          }
        }
      }
      .mitad {
        width: 50%;
        @media only screen and (max-width: 1076px) {
          width: 100%;
        }
        .ajustarAncho {
          width: 90%;
        }
      }
      .flex {
        display: flex;
        justify-content: center;
      }
      .alignCenter {
        align-items: center;
      }
      .paddingBottom {
        padding-bottom: 30px;
      }
    }
    @media only screen and (max-width: 1076px) {
      .flexColumn {
        flex-direction: column;
      }
    }
  }
}
