@import "../base/extend";

main {
  .titulo {
    @extend %titulo;
  }
  .seccionUbicacion {
    .flexCentrar {
      @extend %flexCentrar;
      .mitad {
        width: 50%;
        @media only screen and (max-width: 1076px) {
          width: 100%;
        }
      }
      .paddingBottom {
        padding-bottom: 50px;
        .flexCentrar {
          @extend %flexCentrar;
          .parrafo {
            @extend %parrafo;
          }
        }
      }
      .flex {
        display: flex;
        justify-content: center;
        .ajustarAncho {
          width: 90%;
        }
      }
    }
    .alignCenter {
      align-items: center;
    }
    .flexColumn {
      @media only screen and (max-width: 1076px) {
        flex-direction: column;
      }
    }
  }
}
